* { 
    margin: none;
    padding: none;
}
.navbar{
    position: sticky;
    .btn-ju {
        border-radius: 16px;
        background-color: rgb(187, 18, 187);
        color: white;
        font-weight: 700;
        &:hover {
            background-color: white ;
            color: rgb(187, 18, 187);
        }
    }

.img-icon {
    img {
        height: 60px;
        width: 50px;
    }

}
}
.main-display-img {
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center ;
    img {
        margin-top: 40px;
        justify-content: center;
        height: 450px;
        width: 900px;
    }

}
.main-display-search {
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 220px;
    border-radius: 50%;
}
.text-mi {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 100px 0 100px 0;
}
.card {
    text-align: center;
    .btn {
        text-align: end;
    }
}
.btn-show {
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex ;
}