* { 
    margin: none;
    padding: none;
}
.navbar{
    position: sticky;
    .btn-ju {
        border-radius: 16px;
        background-color: rgb(187, 18, 187);
        color: white;
        font-weight: 700;
        &:hover {
            background-color: white ;
            color: rgb(187, 18, 187);
        }
    }

.img-icon {
    img {
         height: 60px;
         width: 50px;
    }
 
}
}