* {
   padding: 0;
   margin: 0;
}



.navbar { 
    height: 100px;
    font-size: 25px;
    color: black;
    
    .btn {
        font-size: 25px;
    }
    .btn-ju {
        height: 60px;
        width: 150px;
        margin: 0 25px 0 5px;
        font-size: 25px;
        border-radius: 16px;
        background-color: rgb(187, 18, 187);
        color: white;
        font-weight: 700;

        &:hover {
            background-color: white;
            color: rgb(86 20 150);
        }
    }

    .img-icon {
        img {
            height: 60px;
            width: 50px;
        }

    }
}

.main-display-img {

    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;


    img {
        margin-top: 100px;
        justify-content: center;
        height: 450px;
        width: 900px;
    }

}

.main-display-video {
    transform: translateX(-30px);
    border: none;
    pointer-events: none;
    -webkit-user-select: none;
    /* Safari */
    user-select: none;
    overflow: hidden;
}

.main-display-search {

    text-align: center;
    align-items: center;
    padding: 16px 72px 16px 20px;

    transform: translateY(30px);
    margin: 0 auto;

    max-width: 600px;
    width: 100%;

    .form-search {
        height: 80px;

        border-radius: 36px;
        width: 110%;
        padding: 16px 72px 16px 20px;


        border: 2px solid #b7d2ff;
        font-size: 16px;
        z-index: 2;

    }

    .btn {
        font-size: 22px;
        position: absolute;
        margin-left: 110px;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        height: 50px;
        font-weight: 600;
        border-radius: 36px;
        border: none;
        background: #6a00ff;
        color: #fff;
        z-index: 1;

        &:hover {
            cursor: pointer;

        }
    }
}

.text-mi {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin: 100px 0 100px 0;
}

.clubs {

    display: flex;
    justify-content: center;
    .card {
        text-align: left;
        width: 400px;
        height: 300px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 130px;
        position: relative;

        .btn {
            margin-left: 200px;
        }
    }
}

.btn-show {
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
}